<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/event-registrations/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Premier's Awards Event Registration</title>
    <script type="module" crossorigin src="/event-registrations/assets/index.6a100bc4.js"></script>
    <link rel="stylesheet" href="/event-registrations/assets/index.d1e315f7.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
